DB_URL=jdbc:postgresql://localhost:5432/db
DB_USERNAME=username
DB_PASSWORD=password
KEY_TOKEN=base_64_generated_string

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/db
SPRING_DATASOURCE_USERNAME=username
SPRING_DATASOURCE_PASSWORD=password
